// @media only screen and (max-width: 1280px)

@media only screen and (max-width: 1252px)
  .hello
    background-position: right 35% bottom 45%; 
    &-wrapper
      padding-top: 50px
    &-title
      h1
        font-size: 58px
    &-desc
      h2
        font-size: 46px
    &-button
      padding: 22px
@media only screen and (max-width: 1148px)
  .hello
    background-position: right 35% bottom 45%; 
    &-wrapper
      padding-top: 50px
    &-title
      h1
        font-size: 58px
    &-desc
      h2
        font-size: 46px
    &-button
      padding: 22px
      a
        +montserrat(22px)
        font-weight: 800
  .service
    &-ul
      max-width: 40%
      ul
        li
          font-size: 18px
@media only screen and (max-width: 768px)
  body
    h2
      font-size: 40px
  .hello
    height: 90vh 
    &-title
      h1
        font-size: 42px
    &-desc
      h2
        font-size: 34px
    &-button
      padding: 20px
      a
        +montserrat(16px)
        font-weight: 800
  .services
    &-card
      min-width: 180px
      padding: 20px 30px
  .service
      &-img
        width: 100%
      &-ul
        max-width: 50%
        ul
          li
            font-size: 14px
  .radio
    &-logo
      width: 160px
  .swiper
    display: none
  .company
    h3
      font-size: 30px
    p
      font-size: 20px
    &-logo
      img
        width: 520px
  .clients-logo
    width: 160px
  .contacts-map
    display: none
    
@media only screen and (max-width: 429px)
  body
    h2
      font-size: 34px
  .header-nav, .header-phone
    display: none
  .hello
    &-button
      padding: 14px
      margin: 10px 0
      a
        +montserrat(14px)
        font-weight: 800
  .services-card
    h4
      font-size: 16px
  .service
    &-img
        width: 180px
    &-ul
      max-width: 80%
      ul
        li
          font-size: 12px
  .company
    h3
      font-size: 24px
    p
      font-size: 20px
    &-logo
      img
        width: 350px
  .clients-wrapper
    margin-left: 0
  .clients-logo
    width: 110px
    height: 80px 
@media only screen and (max-width: 328px)
  body
    h2
      font-size: 34px
  .hello
    height: 95vh 
    &-title
      h1
        font-size: 42px
    &-desc
      h2
        font-size: 34px
    &-button
      padding: 14px
      margin: 10px 0  
      a
        +montserrat(10px)
        font-weight: 800
  .company
    &-logo
      img
        width: 300px
