*,
*::before, *::after
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
@mixin montserrat($size)
  font:
    family: Montserrat, sans-serif
    size: $size
    weight: bold
@mixin lato($size)
  font:
    family: Lato, sans-serif
    size: $size 
body
  background-image: url('../img/fon/back-2.jpg')
  background-size: cover
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #e9dada
  h1
    +montserrat(68px)
  h2
    +montserrat(48px)
    display: table
    border-bottom: 4px solid #b60877
  h3
    +montserrat(36px)
    font-weight: normal
  h4
    +montserrat(18px)
  p
    +lato(24px)
  a
    text-decoration: none
.container
  max-width: 1280px
  margin: 40px auto
  padding: 20px
.hello, .services, .company,.works, .contacts
  padding-top: 145px

