.clients
  background-color: #fff 
  &-wrapper
    margin: 20px auto
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    align-items: center

  &-logo
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    align-items: center
    width: 200px
    height: 160px
    img
      max-width: 70%
      max-height: 130px