.clients
  &-wrapper
    margin-top: 20px
    margin-left: 10%
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    align-items: center
  &-title
    h2
      margin-left: 10%
      display: table
      border-bottom: 4px solid red
      margin-bottom: 40px
  &-logo
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    align-items: center
    width: 200px
    height: 160px
    img
      max-width: 70%
      max-height: 130px