.company
  // background-color: #000
  color: #fff 
  h2
    margin-bottom: 40px
  &-wrapper
    display: flex
    justify-content: space-evenly
    flex-direction: column
    p
      margin-bottom: 20px
  &-info
    // margin: 24px
    align-items: center
  &-logo
    max-width: 450px
    margin: 20px auto
    img
      width: 100%
    // display: flex
    // justify-content: space-between
    // align-items: center
    