.company
  background-color: #000
  color: #fff 
  &-wrapper
    margin-left: 10%
  &-title
    h2
      display: table
      border-bottom: 4px solid red
  &-info
    display: flex
    justify-content: space-between
    flex-direction: column
    // margin: 24px
    align-items: center
  &-logo
    max-width: 700px
    margin: 20px auto
    // display: flex
    // justify-content: space-between
    // align-items: center
    