.contacts
  &-wrapper
    width: 100%
    display: flex
    color: #fff
    justify-content: center
  &-map 
  &-form
    width: 100%
    background-color: #000
    h2
      display: table
      border-bottom: 4px solid red
      margin: 20px 0 20px 20px
    h3
      margin: 20px 0 20px 20px
