.contacts
  &-wrapper
    display: flex
    justify-content: center
    flex-wrap: wrap
    margin-top: 30px
    a
      color: #e9dada
  &-map
    max-width: 600px
    margin-right: 30px
  &-call
    max-width: 50%
    margin: 30px auto
    display: flex
    flex-flow: column
    align-items: center
  &-social
    display: flex
    a
      padding: 35px
  &-call
    a:hover
      color: #000
  &-button
    color: #000
    margin-top: 15px
    margin-right: 25px
    padding: 30px
    +montserrat(24px)
    font-weight: 800
    border: 3px solid Black
    border-radius: 50px
    cursor: pointer
    background-color: #fff
    