.header
  height: 80px
  &-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    margin: 5px
    padding: 10px
    a
      font-family: 'Montserrat', sans-serif
      font-weight: 600
      text-decoration: none
      color: #000
  &-logo
    img
      height: 100px
  &-nav
    ul
      li
        display: inline
        margin: 10px
        