.header
  background-color: #000
  width: 100%
  height: 100px
  color: #fff
  position: fixed
  order: 99
  &-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    padding: 10px
  &-logo
    max-width: 200px
    max-height: 78px
    img
      height: 77px
  &-nav
    ul
      li
        display: inline
        margin: 10px
    &-button
      +montserrat(16px)
      color: #fff
      background-color: inherit
      margin-right: 20px
    &-button:hover
      color: #bf2285
  &-call
    display: flex
    justify-content: space-between
  &-button
    color: #fff
    +montserrat(10px)
    background-color: inherit
    border: 4px solid #fff
    border-radius: 50px
    padding: 8px
    margin-right: 20px
  a
    +montserrat(18px)
    font-weight: bold
    color: #fff
    text-decoration: none
    margin-bottom: 2px
  a:hover
    color: #b60877
  &-button:hover
    border: 4px solid #b60877
    a:hover
      color: inherit
  &-phone
    display: flex
    flex-direction: column
