.header
  background-color: #000
  width: 100%
  height: 100px
  color: #fff
  &-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    padding: 10px
  &-logo
    max-width: 200px
    max-height: 78px
    img
      height: 77px
  &-nav
    ul
      li
        display: inline
        margin: 10px
a
  +montserrat(18px)
  font-weight: bold
  color: #fff
  text-decoration: none
a:hover
  color: red