.hello
  background-image: url('../img/logo/logo-png.png')
  background-repeat: no-repeat
  background-size: contain
  background-position: right
  height: 100vh
  &-wrapper
    padding-top: 150px
  &-title
    // span
    //   color: red
  &-desc
    +lato(48px)
  &-button
    margin-top: 35px
    margin-right: 25px
    padding: 30px
    font-family: 'Montserrat', sans-serif
    font-weight: 800
    border: 3px solid Black
    border-radius: 50px
    cursor: pointer
    background-color: #fff
    a
      +montserrat(24px)
      font-weight: 800
      color: #000
      letter-spacing: 2px
.container
  margin: 0 auto

