.services
  width: 100%
  background-color: #000
  color: #fff
  &-wrapper
    display: flex
    // justify-content: space-between
    // flex-wrap: wrap
    overflow-x: auto;
    min-width: 100%
    min-height: 200px
    align-item: center
    margin: 0 auto
    padding-bottom: 35px
  &-wrapper::-webkit-scrollbar
    height: 8px
    padding: 10px
  &-wrapper::-webkit-scrollbar-thumb
    background-color: red
    border-radius: 50px
  &-title
    margin-bottom: 50px
  &-card
    background-color: #000
    color: #fff 
    border: 1px solid #fff
    margin-right: 20px
    padding: 20px 40px
    text-align: center
    width: 200px
    min-height: 200px
    cursor: pointer
    img
      margin: 15px 10px
    h4
      font-size: 18px
      font-weight: bold
      text-align: center
  &-card:hover
    border: 2px solid red