.services
  background-color: #000
  width: 100%
  color: #fff
  &-title
    margin-left: 10%
    h2
      display: table
      border-bottom: 4px solid red
  &-wrapper
    margin-left: 10%
  &-catalog
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    max-width: 1000px
    align-item: center
    margin: 50px auto
  &-card
    border: 1px solid #fff
    margin: 20px
    padding: 40px
    text-align: center
    width: 200px
    cursor: pointer
    img
      margin: 15px 10px
    h3
      font-size: 18px
      font-weight: bold
  &-radio
.radio-logo-wrapper
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  img
    width: 200px